body {
    font-family: 'Nunito', sans-serif;
}

footer{
    color: white;
    text-align: center;
    background-color: #5e52ad;
    padding: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    height:auto; 
}

.navbar-brand>.brand-name{
    color: #5e52ad;
    font-weight: 800;
    padding: 5px;
    text-transform: uppercase;
}

.top-div{
    margin-top: 20px;
}

.restaurants{
    text-align: center;
    margin: 10px;
    font-size: 35px;
    color: #5E52AD;
    font-weight:600;
}

footer>.col>.fab{
    color: white;
}

.redes{
    margin: 30px;
}

.slogan{
    color: #5E52AD;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
}


.btn-knowMore{
    background-color: #5e52ad;
    height: 45px;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 25px;
    border-color: #ff9a05;
}

.btn-knowMore:hover{
    color: #5e52ad;
    background-color: #ffc96d;
    height: 45px;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 25px;
    border-color: #ff9a05;
}

.btn-knowMore:active{
    background-color: #5e52ad;
    height: 45px;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 25px;
    border-color: #ff9a05;
}

.btn-knowMore:focus{
    color: #fff;
    background-color: #5e52ad;
    border-color: #0a58ca;
    box-shadow: 0 0 0 3px #ffc166;
}

.sloganYellow{
    color: #ff9a05;
}