body {
    font-family: 'Nunito', sans-serif;
}

footer{
    color: white;
    text-align: center;
    background-color: #5e52ad;
    padding: 20px;
    width:100%;
    height:auto; 
}

.brand-name{
    color: #5e52ad;
    font-weight: 800;
    padding: 5px;
    text-transform: uppercase;
}

.top-div{
    height: 25rem;
    background-position-x: 0px;
    background-position-y: 80%;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.restaurants{
    text-align: center;
    margin: 10px;
    font-size: 35px;
    color: #5E52AD;
    font-weight:600;
}

footer>.col>.fab{
    color: white;
}

.redes{
    margin: 30px;
}

.slogan{
    color: #5E52AD;
    font-weight: 600;
    text-transform: capitalize;
}


.btn-knowMore{
    background-color: #5e52ad;
    height: 45px;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    border-color: #ff9a05;
}

.btn-knowMore:hover{
    color: #5e52ad;
    background-color: #ffc96d;
    height: 45px;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    border-color: #ff9a05;
}

.btn-knowMore:active{
    background-color: #5e52ad;
    height: 45px;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
    border-color: #ff9a05;
}

.btn-knowMore:focus{
    color: #fff;
    background-color: #5e52ad;
    border-color: #0a58ca;
    box-shadow: 0 0 0 3px #ffc166;
}

.btn-primary {
    background-color: #5E52AD;
    border-color: #5E52AD;
}

.btn-primary:hover{
    background-color: #5E52AD;
    border-color: #5E52AD;
}

btn-primary:focus{
    background-color: #5E52AD;
    border-color: #5E52AD;
}

.sloganYellow{
    color: #ff9a05;
}

.form-new-rest{
    margin-left: 10px;
    color: #5e52ad;
    background: #c8c0fb94;
    padding: 50px;
    border: 1px solid #5e52ad08;
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: -10px 10px 0px 0px #5e52ad;
}

.form-control:focus {
    color: black;
    background-color: #f9fafb;
    border-color: #5e52ad;
    outline: 0;
    box-shadow: 0px 0px 0 0px #f9fafb;
}

.form-select:focus {
    border-color: #5e52ad;
    outline: 0;
    box-shadow: 0px 0px 0 0px #f9fafb;
}